# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Project Configurations (Sensitif)
profiles.json

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
